i.icon_close{
    position: absolute;
    top: 26px;
    right: 30px;
    font-size: 17.4px;
    padding: 9px;
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}