.container-profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#info{
    display: flex;
    justify-content: space-between;
    line-height: 1.1;
    padding: 40px;

    button.btn_profil{
        margin-left: 0;
    }
}
.mail_phone_adress{
    flex: 1.5;
    line-height: 1.6;
   
}
.bio{
    flex: 1;
    margin-left: -2px;
    // p{
    //     margin-top: 10px;
    // }

}